# Backend
backend_ambulance/AmbulanceManagement/.gradle/
backend_ambulance/AmbulanceManagement/build/
backend_ambulance/AmbulanceManagement/out/
backend_ambulance/AmbulanceManagement/.idea/

# Frontend
frontend_ambulance/node_modules/
frontend_ambulance/dist/
frontend_ambulance/.env
frontend_ambulance/frontend-ambulance/node_modules/
frontend_ambulance/frontend-ambulance/dist/
frontend_ambulance/frontend-ambulance/.env

# Logs
*.log
